# Authentik Environment Variables
PG_PASS=
AUTHENTIK_SECRET_KEY=

# Authentik Proxy Token so Traefik can talk to Authentik to authenticate users for downstream apps
AUTHENTIK_TOKEN=

# Optional: Enable error reporting
AUTHENTIK_ERROR_REPORTING__ENABLED=

# Email Configuration (Update as needed)
AUTHENTIK_EMAIL__HOST=
AUTHENTIK_EMAIL__PORT=
AUTHENTIK_EMAIL__USERNAME=
AUTHENTIK_EMAIL__PASSWORD=
AUTHENTIK_EMAIL__USE_TLS=
AUTHENTIK_EMAIL__USE_SSL=
AUTHENTIK_EMAIL__TIMEOUT=
AUTHENTIK_EMAIL__FROM=

# Port Configuration (Optional)
COMPOSE_PORT_HTTP=
COMPOSE_PORT_HTTPS=

# Cloudflare API Credentials
CLOUDFLARE_API_EMAIL=
CLOUDFLARE_DNS_API_TOKEN=